body{
margin:0;
font-family:Arial;
text-align:center;
color:white;

background:url("https://images.unsplash.com/photo-1511512578047-dfb367046420?auto=format&fit=crop&w=1500&q=80");
background-size:cover;
background-position:center;
background-attachment:fixed;
}

/* TITLE */

h1{
color:#00f7ff;
font-size:38px;
text-shadow:0 0 25px #00f7ff;
}

h2{
color:#ff00ff;
text-shadow:0 0 15px #ff00ff;
}

/* LOGIN PAGE */

#loginPage{
border:3px solid;
padding:25px;
margin:20px;
border-radius:20px;
background:#111;
}

/* INPUT */

input{
display:block;
margin:12px auto;
padding:14px;
width:260px;
border-radius:12px;
border:2px solid #00ffee;
background:#111;
color:white;
font-weight:bold;
}

/* LOGIN BUTTON */

#loginPage button{
background:linear-gradient(45deg,#003cff,#00ffee);
color:white;
font-weight:bold;
padding:14px;
width:230px;
border-radius:12px;
cursor:pointer;
}

button:hover{
transform:scale(1.08);
}

/* DASHBOARD BUTTONS */

.menu button{
display:block;
margin:12px auto;
padding:15px;
width:240px;
border:none;
border-radius:14px;
font-size:16px;
cursor:pointer;
}

.menu button:nth-child(1){background:#ff0066;}
.menu button:nth-child(2){background:#00ccff;}
.menu button:nth-child(3){background:#00ff88;color:black;}
.menu button:nth-child(4){background:#ff9500;color:black;}
.menu button:nth-child(5){background:#aa00ff;}
.menu button:nth-child(6){background:#ff3333;}

/* DEPUTY BUTTON */

.menu button.deputyBtn{
background:linear-gradient(45deg,#6600ff,#ff33ff);
color:white;
}

/* CONTENT BOX */

#content{
border:3px solid #00ffee;
padding:20px;
border-radius:20px;
margin-top:20px;
background:#0b0b0b;
}

/* BACK BUTTON */

#backBtn{
background:linear-gradient(45deg,#ff00cc,#3333ff,#00ffee);
color:white;
font-weight:bold;
padding:12px;
width:180px;
border:none;
border-radius:12px;
margin-top:15px;
cursor:pointer;
}

/* TABLE */

table{
margin:auto;
border-collapse:collapse;
margin-top:20px;
}

th,td{
border:1px solid #00ffe1;
padding:10px 15px;
}

th{
color:#ffd700;
}

/* MEMBER NAME */

.memberName{
color:white;
font-weight:bold;
}

.memberName:hover{
color:red;
}

/* CONTRIBUTION */

.contribution{
color:white;
}

/* LEVEL */

.level{
color:#00aaff;
}

/* WAR */

.war{
color:#00aaff;
}

/* WAR BUTTONS */

.warAdd{
background:#00ff88;
color:black;
border:none;
border-radius:6px;
padding:6px 10px;
cursor:pointer;
}

.warRemove{
background:#ff3333;
color:white;
border:none;
border-radius:6px;
padding:6px 10px;
cursor:pointer;
}

/* RULES BOX */

.rulesBox{
padding:25px;
border-radius:20px;
margin-top:15px;
background:#0b0b0b;
}

.ruleColor{
line-height:1.8;
}
